# Example YAML to get you started quickly.
# Be aware that YAML has indentation based scoping.
# Code completion support is available so start typing for available options.
swagger: '2.0'

# This is your document metadata
info:
  version: "1.0.0"
  title: Reproduction Request
  description: Making document of reproduction request for water biological resources

host: api.reproductionrequest.com
schemes:
  - https
basePath: /v1
produces:
  - application/json
# Describe your paths here
paths:
  # This is a path endpoint. Change it.
  /documents:
    # This is a HTTP operation
    get:
      summary: List of documents
      # Describe this verb here. Note: you can use markdown
      description: |
        Gets `Documents` objects.
      # Expected responses for this operation:
      tags:
        - Documents
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: "#/definitions/Documents"
    post:
      summary: New Document
      description: Add new document
      tags:
        - Documents
      parameters:
       - in: body
         participantId: body
         description: Add new Document
         required: false
         schema:
           $ref: "#/definitions/Document"
      responses:
        405:
          description: Data is not valid
  /document/{id}:
    get:
      summary: Get document
      description: Get document with specified ID
      tags:
        - Documents
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/Document"




definitions:
  Documents:
    type: array
    items:
      $ref: "#/definitions/Document"
  Document:
    type: object
    properties:
      document_id:
        type: number
        format: int
        description: PK
      yearOfWorks:
        type: number
        format: int
        description: Begining year for works
      dateOfEndOfTheWork:
        description: Date of the end of the works
        type: string
        format: date
      stateOfCreature:
        description: What state of creature is used
        type: string
      typeOfCreature:
        description: What type of creature is used
        type: string
      numberOfCreatures:
        description: How many creatures are made
        type: number
        format: int
      nameOfWorkLocation:
        description: Where's works are doing
        type: string
      averegePieceOfWaterResources:
        description: Averege piece of water resources
        type: string
      weightOfCreatures:
        description: Weight of creatures
        type: number
        format: int
      sourceOfResources:
        description: Source of resources
        type: string
      dateOfFillingTheDocumnet:
        description: Date of filling the document
        type: string



      fullName:
        description: имя пользователя
        type: string
      date:
        description: дата подачи заявления
        type: string
        format: data
      idUser:
       description: id пользователя
       type: number
       format: int

