# Example YAML to get you started quickly.
# Be aware that YAML has indentation based scoping.
# Code completion support is available so start typing for available options.
swagger: '2.0'

# This is your document metadata
info:
  version: "1.0.0"
  title: Reproduction Request
  description: Making document of reproduction request for water biological resources

host: api.reproductionrequest.com
schemes:
  - https
basePath: /v1
produces:
  - application/json
# Describe your paths here
paths:
  # This is a path endpoint. Change it.
  /documents:
    # This is a HTTP operation
    get:
      summary: List of documents
      # Describe this verb here. Note: you can use markdown
      description: |
        Gets `Documents` objects.
      # Expected responses for this operation:
      tags:
        - Documents
      responses:
        # Response code
        200:
          description: OK
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: "#/definitions/Documents"
    post:
      summary: New Document
      description: Add new document
      tags:
        - Documents
      parameters:
       - in: body
         userName: body
         description: Add new Document
         required: false
         schema:
           $ref: "#/definitions/Document"
      responses:
        405:
          description: Data is not valid
  /document/{id}:
    get:
      summary: Get document
      description: Get document with specified ID
      tags:
        - Documents
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/Document"
  /profile:
    get:
      summary: User Profile
      description: Page of user profile
      tags:
        - User
      responses:
       "200":
          description: OK
          schema:
            $ref: "#/definitions/User"
       "405":
          description: Data is not valid
  /profile/update:
    put:
      tags:
        - User
      summary: Update
      description: Update user's information
      parameters:
        - in: body
          userName: body
          description: Changed object
          required: false
          schema:
            $ref: "#/definitions/User"
      responses:
        "404":
          description: User not found
        "400":
          description: Invalid date
  /logout:
    get:
      tags:
        - User
      summary: End of session
      description: "End of current session"
      responses:
        default:
          description: OK
  /login:
    get:
      tags:
        - User
      summary: Log in
      description: "Log in for user"
      parameters:
        - in: query
          userName: userName
          description: Username/Login
          required: false
          type: string
        - in: query
          userName: password
          description: User password
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Invalid login or password
  /signin:
    post:
     tags:
      - User
     summary: Sign in
     description: "Sign in for user "
     parameters:
        - in: query
          userName: userName
          description: Username/Login
          required: false
          type: string
        - in: query
          userName: email
          description: email
          required: false
          type: string
        - in: query
          userName: city
          description: User city
          required: false
          type: string
        - in: query
          userName: age
          description: User age
          required: false
          type: string
        - in: query
          userName: gender
          description: Gender
          required: false
          type: string
        - in: query
          userName: snils
          description: User snils
          required: false
          type: string
        - in: query
          userName: passportData
          description: Series and number of passport
          required: false
          type: string
        - in: query
          userName: password
          description: User password
          required: false
          type: string
     responses:
        "200":
          description: OK
          schema:
            type: string
        "405":
          description: Invalid data

definitions:
  Documents:
    type: array
    items:
      $ref: "#/definitions/Document"
  Document:
    type: object
    properties:
      document_id:
        type: number
        format: int
        description: PK
      yearOfWorks:
        type: number
        format: int
        description: Begining year for works
      dateOfEndOfTheWork:
        description: Date of the end of the works
        type: string
        format: date
      stateOfCreature:
        description: What state of creature is used
        type: string
      typeOfCreature:
        description: What type of creature is used
        type: string
      numberOfCreatures:
        description: How many creatures are made
        type: number
        format: int
      nameOfWorkLocation:
        description: Where's works are doing
        type: string
      averegePieceOfWaterResources:
        description: Averege piece of water resources
        type: string
      weightOfCreatures:
        description: Weight of creatures
        type: number
        format: int
      sourceOfResources:
        description: Source of resources
        type: string
      dateOfFillingTheDocumnet:
        description: Date of filling the document
        type: string
  User:
    type: object
    properties:
      id:
        type: number
        format: int
        description: PK.
      userName:
        type: string
        description: Имя пользователя
      email:
        type: string
        description: Email пользователя
      city:
        type: string
        description: Город
      age:
        type: number
        format: int32
        description: Возвраст пользователя
      gender:
       type: string
       description: Возвраст пользователя
      snils:
        type: number
        format: int
        description: СНИЛС
      passportData:
        type: number
        format: int
        description: паспортные данные

