---
swagger: "2.0"
info:
  description: "Making document of reproduction request for water biological resources"
  version: "1.0.0"
  title: "Reproduction Request"
host: "api.reproductionrequest.com"
basePath: "/v1"
schemes:
- "https"
produces:
- "application/json"
paths:
  /document/{id}:
    get:
      tags:
      - "Documents"
      summary: "Get document"
      description: "Get document with specified id"
      operationId: "documentIdGET"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of the document"
        required: true
        type: "number"
        format: "int"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Document"
      x-swagger-router-controller: "Documents"
  /document/{id}/participant:
    get:
      tags:
      - "Participants"
      summary: "Get participant of document"
      description: "Get participant of document with specified id"
      operationId: "documentIdParticipantGET"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of document"
        required: true
        type: "number"
        format: "int"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Participant"
      x-swagger-router-controller: "Participants"
  /documents:
    get:
      tags:
      - "Documents"
      summary: "List of documents"
      description: "Gets `Documents` objects.\n"
      operationId: "documentsGET"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Documents"
      x-swagger-router-controller: "Documents"
    post:
      tags:
      - "Documents"
      summary: "New Document"
      description: "Add new document"
      operationId: "documentsPOST"
      parameters:
      - in: "body"
        name: "body"
        description: "Add new Document"
        required: false
        schema:
          $ref: "#/definitions/Document"
      responses:
        405:
          description: "Data is not valid"
      x-swagger-router-controller: "Documents"
  /login:
    get:
      tags:
      - "Users"
      summary: "Log in"
      description: "Log in for user"
      operationId: "loginGET"
      parameters:
      - name: "userName"
        in: "query"
        description: "Username/Login"
        required: false
        type: "string"
      - name: "password"
        in: "query"
        description: "User password"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            type: "string"
        400:
          description: "Invalid login or password"
      x-swagger-router-controller: "Users"
  /logout:
    get:
      tags:
      - "Users"
      summary: "End of session"
      description: "End of current session"
      operationId: "logoutGET"
      parameters: []
      responses:
        default:
          description: "OK"
      x-swagger-router-controller: "Users"
  /profile:
    get:
      tags:
      - "Users"
      summary: "User Profile"
      description: "Page of user profile"
      operationId: "profileGET"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/User"
        405:
          description: "Data is not valid"
      x-swagger-router-controller: "Users"
  /profile/update:
    put:
      tags:
      - "Users"
      summary: "Update"
      description: "Update user's information"
      operationId: "profileUpdatePUT"
      parameters:
      - in: "body"
        name: "data"
        description: "Changed object"
        required: false
        schema:
          $ref: "#/definitions/User"
      responses:
        400:
          description: "Invalid date"
        404:
          description: "User not found"
      x-swagger-router-controller: "Users"
  /signin:
    post:
      tags:
      - "Users"
      summary: "Sign in"
      description: "Sign in for user "
      operationId: "signinPOST"
      parameters:
      - name: "userName"
        in: "query"
        description: "Username/Login"
        required: false
        type: "string"
      - name: "email"
        in: "query"
        description: "email"
        required: false
        type: "string"
      - name: "city"
        in: "query"
        description: "User city"
        required: false
        type: "string"
      - name: "age"
        in: "query"
        description: "User age"
        required: false
        type: "number"
        format: "int"
      - name: "gender"
        in: "query"
        description: "Gender"
        required: false
        type: "string"
      - name: "snils"
        in: "query"
        description: "User snils"
        required: false
        type: "string"
      - name: "password"
        in: "query"
        description: "User password"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            type: "string"
        405:
          description: "Invalid data"
      x-swagger-router-controller: "Users"
definitions:
  Document:
    type: "object"
    properties:
      document_id:
        type: "number"
        format: "int"
        description: "PK"
      participant_id:
        type: "number"
        format: "int"
        description: "FK"
      yearOfWorks:
        type: "number"
        format: "int"
        description: "Begining year for works"
      dateOfEndOfTheWork:
        type: "string"
        format: "date"
        description: "Date of the end of the works"
      stateOfCreature:
        type: "string"
        description: "What state of creature is used"
      typeOfCreature:
        type: "string"
        description: "What type of creature is used"
      numberOfCreatures:
        type: "number"
        format: "int"
        description: "How many creatures are made"
      nameOfWorkLocation:
        type: "string"
        description: "Where's works are doing"
      averegePieceOfWaterResources:
        type: "string"
        description: "Averege piece of water resources"
      weightOfCreatures:
        type: "number"
        format: "int"
        description: "Weight of creatures"
      sourceOfResources:
        type: "string"
        description: "Source of resources"
      dateOfFillingTheDocumnet:
        type: "string"
        description: "Date of filling the document"
  Documents:
    type: "array"
    items:
      $ref: "#/definitions/Document"
  User:
    type: "object"
    properties:
      user_id:
        type: "number"
        format: "int"
        description: "PK"
      name:
        type: "string"
        description: "User name"
      surname:
        type: "string"
        description: "User surname"
      patronymic:
        type: "string"
        description: "User patronymic"
      email:
        type: "string"
        description: "User email"
      phone:
        type: "string"
        description: "User phone number"
      seriesOfThePassport:
        type: "number"
        format: "int"
        description: "Series of the user's passport"
      numberOfThePassport:
        type: "number"
        format: "int"
        description: "Number of the user's passport"
  Participant:
    type: "object"
    properties:
      participant_id:
        type: "number"
        format: "int"
        description: "PK"
      isIE:
        type: "boolean"
        description: "Is participant individual entrepreneur?"
      nameOfIE:
        type: "string"
        description: "Name of individual entrepreneur"
      surnameOfIE:
        type: "string"
        description: "Surame of individual entrepreneur"
      partonymicOfIE:
        type: "string"
        description: "Patronymic of individual entrepreneur"
      nameOfEntity:
        type: "string"
        description: "Name of legal entity"
      idOfTaxpayer:
        type: "number"
        format: "int"
        description: "Taxpayer's id of legal entity"
      location:
        type: "string"
        description: "Location of legal entity"
      mainStateRegistrationNumber:
        type: "number"
        format: "int"
        description: "Main state regisration number of legal entity"
